@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  background-color: #ffffff;
  color: #0D0D0D; }

.button {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 120%;
  font-style: normal;
  color: #ffffff;
  background-color: #229C03;
  border-radius: 5px;
  padding: 20px 0;
  transition: 0.3s;
  cursor: pointer;
  border: 1px solid #229C03;
  display: inline-block;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.4); }
  .button:hover {
    transform: scale(1.05); }
  .button--back {
    background-color: #ffffff;
    border: 1px solid #BDBDBD;
    color: #111313;
    margin-right: 20px; }

.section {
  max-width: 1920px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px; }
  .section__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    margin: auto; }

.container {
  max-width: 1420px;
  margin: auto; }

.row {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header {
  padding-top: 18px;
  padding-bottom: 18px;
  box-shadow: 0px 0px 1px #C4C4C4; }
  .header__box {
    text-decoration: none;
    color: #0D0D0D; }
  .header__tel {
    display: flex;
    align-items: center;
    margin-bottom: 5px; }
    .header__tel__text {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 24px; }
    .header__tel__img {
      margin-right: 24px; }

.main {
  background: #F2F2F2 url(../img/main/bg.png) no-repeat right center;
  padding-top: 110px;
  padding-bottom: 110px; }
  .main__button {
    width: 360px;
    margin-bottom: 20px; }
  .main__input-group {
    margin-right: 20px;
    margin-bottom: 20px;
    width: 360px; }
  .main__input {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #BDBDBD;
    padding: 20px 23px;
    border: 1px solid #C4C4C4;
    box-shadow: 0px 0px 1px #C4C4C4;
    border-radius: 5px; }
    .main__input:focus {
      outline: none; }
  .main__form__row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: auto; }
  .main__form__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 10px; }
  .main__form__subtitle {
    margin-bottom: 30px; }
  .main__card {
    margin-right: 30px; }
    .main__card__img {
      margin-bottom: 10px; }
    .main__card__title {
      font-weight: 800;
      color: #194EAE; }
  .main__row {
    display: flex;
    margin-bottom: 80px; }
  .main__ul {
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    margin-bottom: 40px; }
  .main__li {
    display: flex;
    align-items: center;
    margin-bottom: 22px; }
    .main__li picture {
      margin-right: 20px; }
    .main__li:last-child {
      margin-bottom: 0; }
  .main__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    max-width: 815px;
    margin-bottom: 40px; }
    .main__title span {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 48px;
      color: #194EAE;
      text-transform: uppercase;
      margin: 5px 0;
      display: inline-block; }

.trust {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 1px #C4C4C4; }
  .trust__box {
    max-width: 630px; }
  .trust__header {
    font-weight: 800;
    font-size: 35px;
    color: #194EAE;
    margin-bottom: 30px; }
  .trust__text {
    font-size: 28px; }
  .trust__title {
    margin-bottom: 80px; }

.quiz {
  padding-top: 73px;
  padding-bottom: 73px;
  background: #f2f2f2 url(../img/quiz/bg.png) no-repeat center; }
  .quiz__img--mob {
    display: none; }
  .quiz__button {
    background-image: url(../img/quiz/arrow.png);
    background-repeat: no-repeat;
    background-position: calc( 100% - 40px) center;
    width: 290px;
    text-align: left;
    padding-left: 40px; }
  .quiz__header {
    font-weight: 800;
    font-size: 28px;
    color: #194EAE;
    margin-bottom: 20px; }
  .quiz__text {
    font-size: 24px;
    margin-bottom: 65px; }
    .quiz__text span {
      display: block; }
      .quiz__text span:first-child {
        margin-bottom: 10px; }
  .quiz__title {
    margin-bottom: 40px;
    max-width: 920px; }
  .quiz__box {
    max-width: 720px; }
  .quiz-step {
    padding-top: 150px;
    padding-bottom: 150px;
    background: #f2f2f2 url(../img/quiz/bg.png) no-repeat center;
    perspective: 80px;
    background-size: cover;
    height: 100vh;
    min-height: 835px;
    max-height: 900px; }
    .quiz-step__container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%; }
    .quiz-step__button-group {
      display: flex;
      justify-content: center; }
    .quiz-step__button {
      padding: 0;
      height: 60px;
      width: 220px;
      box-shadow: none;
      display: flex;
      align-items: center;
      justify-content: center; }
      .quiz-step__button:hover {
        box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.4);
        transform: none; }
      .quiz-step__button--back {
        width: 100px; }
    .quiz-step__box {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 1140px;
      margin: auto;
      margin-bottom: 20px; }
    .quiz-step__card {
      width: 360px;
      height: 90px;
      background-color: #FFFFFF;
      border-radius: 5px;
      padding: 0 30px 0 50px;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: 0.3s;
      margin: 10px; }
      .quiz-step__card:hover {
        box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5); }
      .quiz-step__card picture {
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center; }
        .quiz-step__card picture img {
          max-width: none; }
    .quiz-step__title {
      margin-bottom: 80px; }
  .quiz-last {
    background: #f2f2f2 url(../img/quiz/bg.png) no-repeat center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: cover; }
    .quiz-last__title {
      margin-bottom: 60px; }
    .quiz-last__subtitle {
      font-size: 24px;
      margin: auto;
      margin-bottom: 40px;
      text-align: center;
      max-width: 900px; }
    .quiz-last__form {
      max-width: 1120px;
      display: flex;
      justify-content: space-between;
      margin: auto;
      margin-bottom: 15px; }
    .quiz-last__input {
      border: 1px solid #C4C4C4;
      box-shadow: 0px 0px 1px #C4C4C4;
      border-radius: 5px;
      width: 100%;
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      color: #BDBDBD;
      padding: 20px 23px; }
      .quiz-last__input:focus {
        outline: none; }
    .quiz-last__button {
      width: 360px; }
    .quiz-last__input-group {
      width: 360px; }
    .quiz-last__attention {
      font-size: 16px;
      text-align: center; }

.consult {
  padding-top: 73px;
  padding-bottom: 73px; }
  .consult__button {
    width: 360px; }
  .consult__input-group {
    width: 360px; }
  .consult__input {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #BDBDBD;
    border: 1px solid #C4C4C4;
    box-shadow: 0px 0px 1px #C4C4C4;
    border-radius: 5px;
    padding: 20px 23px; }
    .consult__input:focus {
      outline: none; }
  .consult__container {
    max-width: 1120px; }
  .consult__title {
    margin-bottom: 10px; }
  .consult__subtitle {
    margin-bottom: 50px;
    text-align: center; }
  .consult__form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px; }
  .consult__attention {
    text-align: center;
    font-size: 16px;
    margin-bottom: 48px; }
  .consult__tel {
    max-width: 480px;
    margin: auto;
    font-size: 24px; }
    .consult__tel__row {
      font-weight: 800;
      font-size: 24px;
      text-decoration: none;
      color: #0D0D0D; }
      .consult__tel__row img {
        margin-right: 6px; }

.comments {
  background-color: #f2f2f2;
  padding-top: 73px;
  padding-bottom: 153px; }
  .comments__container {
    max-width: 1440px; }
  .comments__row {
    justify-content: center;
    flex-wrap: wrap; }
  .comments__title {
    margin-bottom: 70px; }
  .comments__card {
    width: 340px;
    height: 440px;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    text-align: center;
    padding: 43px 20px 33px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px; }
    .comments__card__img {
      margin-bottom: 10px; }
    .comments__card__name {
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
      font-size: 18px;
      color: #194EAE; }

.footer {
  padding-top: 25px;
  padding-bottom: 25px; }
  .footer__container {
    max-width: 1050px; }

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 199;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: auto;
  transition: 0.3s;
  padding-top: 40px;
  padding-bottom: 40px; }
  .modal--active {
    opacity: 1;
    visibility: visible; }
  .modal-thanks {
    padding: 0; }
    .modal-thanks__img {
      display: none;
      margin: auto; }
    .modal-thanks__title {
      font-family: 'Montserrat', sans-serif;
      font-weight: 900;
      font-size: 40px;
      color: #194EAE;
      margin-bottom: 40px; }
    .modal-thanks__text {
      font-size: 24px;
      margin-bottom: 22px; }
    .modal-thanks__tel {
      font-size: 22px;
      max-width: 360px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto; }
      .modal-thanks__tel__box {
        font-weight: 800;
        font-size: 24px;
        text-decoration: none;
        color: #0D0D0D;
        display: flex;
        align-items: center; }
        .modal-thanks__tel__box img {
          margin-right: 6px; }
    .modal-thanks__dialog {
      background: #f2f2f2 url(../img/quiz/bg.png) no-repeat center;
      width: 100%;
      height: 100%;
      position: relative;
      padding-left: 20px;
      padding-right: 20px; }
    .modal-thanks__close {
      position: absolute;
      top: 32px;
      right: 44px;
      cursor: pointer; }
    .modal-thanks__container {
      max-width: 1320px;
      margin: auto;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      background: url(../img/thanks/img1.png) no-repeat right bottom; }
      .modal-thanks__container--quiz {
        max-width: 1750px;
        background: url(../img/thanks/img2.png) no-repeat right bottom;
        padding-left: 165px; }
    .modal-thanks__box {
      max-width: 650px;
      text-align: center; }

@media screen and (max-width: 1700px) {
  .modal-thanks__container--quiz {
    padding-left: 100px; } }

@media screen and (max-width: 1600px) {
  .modal-thanks__container--quiz {
    padding-left: 0; } }

@media screen and (max-width: 1500px) {
  .modal-thanks__dialog--quiz {
    padding-left: 0;
    padding-right: 0; }
  .modal-thanks__container {
    padding-left: 150px; }
    .modal-thanks__container--quiz {
      background: url(../img/thanks/img2C.png) no-repeat right bottom; }
  .main {
    background-position-x: calc( 100% + 200px); } }

@media screen and (max-width: 1300px) {
  .modal-thanks__container {
    padding-left: 50px; }
  .main {
    padding-top: 80px;
    padding-bottom: 80px;
    background-position-x: calc( 100% + 400px); }
    .main__ul {
      font-size: 22px; }
    .main__title {
      font-size: 28px;
      max-width: 600px; }
      .main__title span {
        font-size: 35px; } }

@media screen and (max-width: 1200px) {
  .modal-thanks {
    padding: 20px; }
    .modal-thanks__img {
      display: block; }
    .modal-thanks__dialog {
      padding-top: 88px;
      height: auto;
      max-width: 500px; }
    .modal-thanks__container {
      background: none;
      justify-content: center;
      align-items: flex-start; }
      .modal-thanks__container--quiz {
        background: none;
        padding-left: 20px;
        padding-right: 20px; }
  .consult__form {
    max-width: 740px;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 15px; }
  .consult__input-group {
    margin-bottom: 20px; }
    .consult__input-group:first-child {
      margin-right: 20px; }
  .quiz-last__input-group {
    margin: 10px; }
  .quiz-last__form {
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; }
  .quiz-last__button {
    margin: 10px; }
  .quiz-step {
    height: auto;
    min-height: 0;
    max-height: none; }
  .quiz__box {
    max-width: 570px; }
  .quiz__header {
    font-size: 24px; }
  .quiz__text {
    font-size: 20px; }
  .trust__box {
    max-width: 460px; }
  .trust__header {
    font-size: 26px;
    margin-bottom: 20px; }
  .trust__text {
    font-size: 22px; }
  .main {
    background: #F2F2F2 url(../img/main/bgC.png) no-repeat right center; } }

@media screen and (max-width: 991px) {
  .modal-thanks__close {
    top: 10px;
    right: 10px; }
  .modal-thanks__title {
    font-size: 30px;
    margin-bottom: 15px; }
  .modal-thanks__text {
    font-size: 18px;
    margin-bottom: 10px; }
  .modal-thanks__tel {
    font-size: 18px;
    max-width: 290px; }
    .modal-thanks__tel__box {
      font-size: 18px; }
  .footer__text {
    font-size: 15px; }
  .comments {
    padding-top: 40px;
    padding-bottom: 100px; }
    .comments__title {
      margin-bottom: 20px; }
    .comments__card {
      width: 320px;
      height: 400px;
      padding: 45px 10px; }
      .comments__card__text {
        font-size: 16px; }
      .comments__card__name {
        font-size: 16px; }
  .consult {
    padding-top: 40px;
    padding-bottom: 40px; }
    .consult__tel {
      font-size: 20px;
      max-width: 440px; }
      .consult__tel__row {
        font-size: 24px; }
    .consult__attention {
      font-size: 14px;
      margin-bottom: 30px; }
    .consult__form {
      margin-bottom: 15px; }
    .consult__input-group {
      width: 100%;
      max-width: 300px; }
    .consult__button {
      font-size: 16px;
      padding: 18px 0;
      width: 100%;
      max-width: 300px; }
    .consult__input {
      font-size: 14px;
      padding: 18px 22px; }
    .consult__input-group {
      margin-bottom: 15px; }
    .consult__title {
      margin-bottom: 5px; }
    .consult__subtitle {
      font-size: 16px;
      margin-bottom: 20px; }
  .quiz {
    padding-top: 40px;
    padding-bottom: 40px; }
    .quiz-last {
      padding-top: 65px;
      padding-bottom: 65px; }
      .quiz-last__form {
        margin-bottom: 15px; }
      .quiz-last__title {
        margin-bottom: 30px; }
      .quiz-last__subtitle {
        font-size: 16px;
        margin-bottom: 20px;
        max-width: 580px; }
      .quiz-last__input {
        padding: 18px 20px;
        font-size: 14px; }
      .quiz-last__input-group {
        width: 300px;
        margin: 7px; }
      .quiz-last__atention {
        font-size: 14px; }
      .quiz-last__button {
        margin: 7px;
        font-size: 16px;
        width: 300px; }
    .quiz-step {
      padding-top: 55px;
      padding-bottom: 55px; }
      .quiz-step__button {
        width: 222px;
        height: 58px;
        font-size: 16px; }
        .quiz-step__button--back {
          width: 68px; }
          .quiz-step__button--back svg {
            width: 37px; }
      .quiz-step__box {
        margin-bottom: 20px; }
      .quiz-step__title {
        margin-bottom: 30px; }
      .quiz-step__card {
        width: 300px;
        height: 55px;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        box-shadow: 0px 0px 1px #C4C4C4;
        font-size: 14px;
        padding: 0 10px 0 20px;
        margin: 7px; }
    .quiz__container {
      max-width: 700px; }
    .quiz__box {
      max-width: 460px; }
    .quiz__button {
      font-size: 16px;
      width: 300px;
      padding-left: 60px;
      background-image: url(../img/quiz/arrowM.png);
      background-position: calc( 100% - 60px) center; }
    .quiz__title {
      margin-bottom: 20px;
      max-width: 480px; }
    .quiz__header {
      font-size: 20px;
      margin-bottom: 15px; }
    .quiz__text {
      font-size: 16px;
      margin-bottom: 30px; }
  .section__title {
    font-size: 22px; }
  .trust {
    padding-top: 40px;
    padding-bottom: 40px; }
    .trust__box {
      max-width: 350px; }
    .trust__container {
      max-width: 700px; }
    .trust__header {
      font-size: 20px;
      margin-bottom: 10px; }
    .trust__text {
      font-size: 16px; }
    .trust__title {
      margin-bottom: 30px; }
  .main {
    padding-top: 50px;
    padding-bottom: 50px;
    background-position-y: bottom; }
    .main__button {
      width: 100%;
      max-width: 300px;
      font-size: 16px;
      margin-bottom: 15px; }
    .main__input-group {
      width: 100%;
      max-width: 300px; }
    .main__form__footer {
      font-size: 14px; }
    .main__form__title {
      font-size: 20px;
      margin-bottom: 5px; }
    .main__form__subtitle {
      font-size: 16px;
      margin-bottom: 20px; }
    .main__row {
      margin-bottom: 65px; }
    .main__card {
      max-width: 185px; }
      .main__card__title {
        font-size: 16px; }
      .main__card__text {
        font-size: 16px; }
    .main__ul {
      font-size: 16px; }
    .main__li {
      margin-bottom: 15px; }
      .main__li picture {
        margin-right: 15px; }
    .main__title {
      font-size: 22px;
      max-width: 460px;
      margin-bottom: 30px; }
      .main__title span {
        font-size: 22px; } }

@media screen and (max-width: 767px) {
  .footer {
    text-align: center; }
    .footer__row {
      flex-direction: column; }
    .footer__logo {
      margin-bottom: 20px; }
  .consult__button {
    max-width: none; }
  .consult__container {
    max-width: 500px; }
  .consult__form {
    flex-direction: column;
    align-items: center; }
  .consult__input-group {
    max-width: none;
    margin-right: 0 !important; }
  .quiz__box {
    text-align: center;
    margin: auto; }
  .quiz__button {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 300px; }
  .quiz__container {
    max-width: 500px; }
  .quiz__text {
    margin-bottom: 15px; }
  .quiz__img {
    display: none; }
    .quiz__img--mob {
      display: block;
      margin: auto;
      margin-bottom: 20px; }
  .trust__container {
    max-width: 500px; }
  .trust__row {
    flex-direction: column; }
  .trust__box {
    margin-bottom: 20px;
    width: 100%;
    max-width: none; }
  .trust__img {
    width: 100%;
    max-width: 500px; }
  .main {
    background: #F2F2F2 url(../img/main/bgM.png) no-repeat right 278px; }
    .main__input-group {
      max-width: none; }
    .main__button {
      max-width: none; }
    .main__form {
      text-align: center; }
      .main__form__row {
        justify-content: center; }
    .main__input-group {
      margin-right: 0;
      margin-bottom: 15px; }
    .main__container {
      max-width: 500px; }
    .main__row {
      flex-wrap: wrap; }
  .header__tel__text {
    display: none; }
  .header__tel__img {
    margin-right: 0; }
  .header__text {
    display: none; } }

@media screen and (max-width: 575px) {
  .quiz-last__input-group {
    margin-right: 0;
    margin-left: 0; }
  .modal-thanks {
    padding-left: 0;
    padding-right: 0; }
    .modal-thanks__tel {
      flex-direction: column; }
      .modal-thanks__tel > span {
        margin-bottom: 5px; }
  .comments {
    padding-left: 0;
    padding-right: 0; }
    .comments__card {
      margin: 10px 0; }
  .consult__tel {
    flex-direction: column; }
    .consult__tel > span {
      margin-bottom: 5px; }
  .trust__title {
    text-align: left; }
  .trust__img {
    width: auto; }
  .main__card {
    margin-right: 0;
    margin-bottom: 30px; }
    .main__card:last-child {
      margin-bottom: 0; }
  .main__row {
    flex-direction: column; } }
