.quiz
    padding-top: 73px
    padding-bottom: 73px
    background: #f2f2f2 url(../img/quiz/bg.png) no-repeat center
    &__img
        &--mob
            display: none
    &__button
        background-image: url(../img/quiz/arrow.png)
        background-repeat: no-repeat
        background-position: calc( 100% - 40px ) center
        width: 290px
        text-align: left
        padding-left: 40px
    &__header
        font-weight: 800
        font-size: 28px
        color: #194EAE
        margin-bottom: 20px
    &__text
        font-size: 24px
        margin-bottom: 65px
        span
            display: block
            &:first-child
                margin-bottom: 10px
    &__title
        margin-bottom: 40px
        max-width: 920px
    &__box
        max-width: 720px